/***********

Below is css for the individualized styling of specific theme elements. The source of this code is from a combination of Hunchbaque and some changes/additions which I added in order to provide baseline settings I prefer and/or provide more granular settings. 
  
NOTE:
1. Add any IE specific css to the fix-ie-6.css and fix-ie-7.css file(s). Conditional comments and separate css files were created for IE in order to avoid adding css hacks to this file and so that atck properly passes w3c validation. (atck is css3 valid)

2. The template.php file which comes with atck disables the following core stylesheets: defaults.css, node.css, user.css. You can easily disable others and/or re-enable the three mentioned.

*************/

/*
  Layout the core sections of the site.
*/
#header {
  overflow: hidden;
}

#wrapper {
  width: 100%;
}

#subwrapper {
  float: left;
  width: 100%;
}

#content {
	padding: 1em 1em 2.5em 1em;
	margin: 0;
}

#container .content {
  overflow: hidden;
}

/* We've already reset all of the fonts using the YUI font reset stuff within style.css - and now that we have a clean slate we set the font face/size using ems. Because of the font reset magic 1em = 1px, except that ems are much friendlier to various browsers/devices than pixels. */
#container {
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 1.2em;
}

.node {
	margin: 0 0 2em 0;
}

/* Basic elements */
a:link, a:visited {
	color:#318CA7;
	text-decoration: none;
	margin:0;
}

a:hover, a:active, a.active {
	color:#318CA7;
	text-decoration: underline;
	margin:0;
}

h1 a, h1 a:link, h1 a:visited,
h2 a, h2 a:link, h2 a:visited,
h3 a, h3 a:link, h3 a:visited,
h4 a, h4 a:link, h4 a:visited {
	color:#000;
	text-decoration: none;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active {
	color:#000;
	text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  padding-top: .4em;
  line-height: 1.3em;
}

h1 {
  font-size: 1.5em;
	font-weight: bold;
}

h2 {
  font-size: 1.2em;
	font-weight: bold;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: .9em;
}

p,
ul,
ol,
dl {
  padding: .4em 0;
}

ul,
ol,
dd {
  margin-left: 2.5em;
}

li ul,
li ol {
  margin-left: 1.5em;
}

li ol li {
  list-style-type: lower-alpha;
}

li,
dt,
dd {
  padding: .2em 0;
}

dt {
  font-weight: bold;
}

table {
  margin: .5em auto;
  width: 100%;
}

th,
td {
  padding: .2em;
}

th {
  color: #000;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-color: #FAF4AA;
}

tr.odd td {
  background-color: #ffffff;
}

tr.even td {
  background-color: #d0d0d0;
}

img {
  border-width: 0;
}

/*
  Define the helper classes.
*/
.clear-block:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}

.form-item,
fieldset {
  margin: 1em 0;
  padding: 0 .5em;
}

fieldset.collapsed {
  overflow: hidden;
  height: 1px;
  border-width: 1px 0 0 0;
}

.description {
  padding: .5em;
  font-size: .8em;
  font-style: italic;
}

.messages,
.help {
  margin: 1em;
  padding: 1em;
  border-width: 2px;
  border-style: solid;
}

.error {
  border-color: #ff0000;
  background-color: #ffdddd;
}

.status {
  font-style: italic;
  border-color: #9FE4FF;
  background-color: #D9F4FF;
}

.help {
  font-style: italic;
  border-color: #FEFF7F;
  background-color: #ffffcc;
}

.help .more-help-link {
  font-weight: bold;
}


/*
  Area specific layout
*/

/* Tabs */

div.tabs ul.primary {
  clear: both;
  margin: 2em 0 0 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 1.5em;
  border-bottom: #C4D7E6 1px solid;
}

div.tabs ul.primary li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 2px;
  list-style-type: none;
  text-align: center;
}

div.tabs ul.primary a {
  padding: 6px 10px;
  color: #999999;
  text-decoration: none;
  line-height: 1.3em;
  border-color: #C4D7E6;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  background-color: #eee;
}

div.tabs ul.primary a.active {
  padding: 6px 10px;
  color: #000000;
  font-weight: bold;
  border-color: #C4D7E6 #C4D7E6 #eeeeee #C4D7E6;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  background-color: #fff;
}

div.tabs ul.primary a:hover {
  text-decoration: underline;
}

div.tabs ul.secondary {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

div.tabs ul.secondary li {
  display: inline;
  padding: 0 7px 0 5px;
  list-style-type: none;
  border-right: #C4D7E6 1px solid;
}

div.tabs ul.secondary a {
  color: #999999;
  text-decoration: none;
}

div.tabs ul.secondary a.active {
  color: #000000;
  font-weight: bold;
}

div.tabs ul.secondary a:hover {
  text-decoration: underline;
}

/* Main content area */
#breadcrumb {
  padding: 1em 0 0 0;
}

#mission {
  padding: .5em;
}

/* Header styles */
#header {
  padding: 1em 0 1em 0;
}

/* Main menu styles */
#main_menu {
  clear: both;
	margin: 0;
	display: inline;
	font-size: 1em;
	font-weight: bold;
}

#main_menu ul {
	display: inline;
	margin:0;
}

#main_menu li {
	margin:0;
  display: inline;
  padding: 0 .6em;
  list-style-type: none;
}

/* Secondary menu styles */
#secondary_menu {
  clear: both;
	margin: 0 0 0 2em;
	display: inline;
	font-size: .9em;
}

#secondary_menu ul {
  margin: 0 0 0 0;
	display:inline;
}

#secondary_menu li {
	margin:0;
  display: inline;
  padding: 0 .55em;
  list-style-type: none;
}

/* Sidebar styles */
#sidebar_left,
#sidebar_right {
  font-size: .95em;
  margin: 1em 0 0 0; 
}

#sidebar_left .block,
#sidebar_right .block {
  margin: 0; 
	padding: .5em .5em .5em .5em;
}

/* Footer styles */
#footer {
  clear: both;
	padding: 0 1em 0 1em;
	margin: .5em 0 0 0;
}
